body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

/* TODO ESTO ES NUEVO */

.typing{
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  border-right: 0.15em solid #61DBFB;
  animation: typing 4s steps(17) 1s 1 normal both, blink 1s steps(1) infinite;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.ico-custom{
  font-size: 5rem;
}